<footer style="margin: 150px auto 0; border-top: 5px solid #000;" class="container-fluid mt-5 pt-4 border-top border-5 border-dark">
    <div class="container">
        <div class="row">
            <!-- Help Section -->
            <div class="col-md-2 col-sm-6 mb-4">
                <h3 class="h6 fw-bold mb-3 pb-3 border-bottom border-2 border-light">Help</h3>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-reset text-decoration-none hover-underline">Shipping</a></li>
                    <li class="mb-2"><a href="#" class="text-reset text-decoration-none hover-underline">Refunds / Returns</a></li>
                    <li class="mb-2"><a href="#" class="text-reset text-decoration-none hover-underline">Order History</a></li>
                    <li class="mb-2"><a href="#" target="_blank" class="text-reset text-decoration-none hover-underline">FAQ</a></li>
                </ul>
            </div>

            <!-- Return Section -->
            <div class="col-md-3 col-sm-6 mb-4">
                <h3 class="h6 fw-bold mb-3 pb-3 border-bottom border-2 border-light">Return</h3>
                <ul class="list-unstyled">
                    <li class="mb-2">Return Address: Chuu En,</li>
                    <li class="mb-2">3F, 55 Solmae-ro 50-gil,</li>
                    <li class="mb-2">Gangbuk-gu, Seoul, Korea 01158</li>
                    <li class="mb-2"><a href="#" target="_blank" class="text-reset text-decoration-none hover-underline">&gt; View Delivery Details</a></li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div class="col-md-2 col-sm-6 mb-4">
                <h3 class="h6 fw-bold mb-3 pb-3 border-bottom border-2 border-light">Contact</h3>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" target="_blank" class="text-reset text-decoration-none hover-underline">WHOLESALE 批发</a></li>
                    <li class="mb-2"><a href="#" target="_blank" class="text-reset text-decoration-none hover-underline">Affiliate Program</a></li>
                    <li class="mb-2"><a href="#" class="text-reset text-decoration-none hover-underline">Q&amp;A</a></li>
                </ul>
            </div>

            <!-- Info Section -->
            <div class="col-md-2 col-sm-6 mb-4">
                <h3 class="h6 fw-bold mb-3 pb-3 border-bottom border-2 border-light">Info</h3>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-reset text-decoration-none hover-underline">About Chuu</a></li>
                    <li class="mb-2"><a href="#" class="text-reset text-decoration-none hover-underline">User's Guide</a></li>
                    <li class="mb-2"><a href="#" class="text-reset text-decoration-none hover-underline">Offline Stores</a></li>
                </ul>
            </div>

            <!-- SNS Icons -->
            <div class="col-md-3 col-sm-12 mb-4 text-md-end">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCZvn56gaSF1mxIrZsRi_yAA" target="_blank"><img src="https://en.chuu.co.kr/images/layout/footer/ico-youtube.png" alt="youtube" class="img-fluid"></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/ngphuduc._.1608/" target="_blank"><img src="https://en.chuu.co.kr/images/layout/footer/ico-instagram.png" alt="instagram" class="img-fluid"></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/ng.phuduc16" target="_blank"><img src="https://en.chuu.co.kr/images/layout/footer/ico-facebook.png" alt="facebook" class="img-fluid"></a></li>
                </ul>
            </div>
        </div>

        <!-- Language Selector -->
        <div class="row mt-5 pt-5">
            <div class="col-12 mb-4">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" target="_blank" class="d-inline-block px-3 py-1 bg-light fw-bold text-reset text-decoration-none hover-underline">KR</a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" class="d-inline-block px-3 py-1 bg-light fw-bold text-reset text-decoration-none hover-underline">JP</a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" class="d-inline-block px-3 py-1 bg-light fw-bold text-reset text-decoration-none hover-underline">CN</a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" class="d-inline-block px-3 py-1 bg-light fw-bold text-reset text-decoration-none hover-underline">TW</a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" class="d-inline-block px-3 py-1 bg-light fw-bold text-reset text-decoration-none hover-underline">HK</a></li>
                </ul>
            </div>
        </div>

        <!-- Company Info -->
        <div class="row">
            <div class="col-12">
                <p class="small text-muted mb-4">
                    <a href="https://www.facebook.com/ng.phuduc16" target="_blank" class="text-reset text-decoration-none hover-underline">Nguyễn Phú Đức</a>
                    <span class="mx-2">|</span>
                    Phone number: 0335744160
                    <span class="mx-2">|</span>
                    E-commerce license number: 2021-SEOULSEONGDONG-00605
                    <span class="mx-2">|</span>
                    Tel: 0335744160
                    <span class="mx-2">|</span>
                    Fax: 02-744-8914
                    <span class="mx-2">|</span>
                    E-mail: <a href="mailto:ngphuduc1608@gmail.com" class="text-reset text-decoration-none hover-underline">ngphuduc1608@gmail.com</a>
                    <span class="mx-2">|</span>
                    Address: Việt Nam
                    <span class="mx-2">|</span>
                    © 2012-2023 ppb studios
                </p>
            </div>
        </div>
    </div>
</footer>