<div class="d-flex align-items-center gap-3">
    <button class="menu-btn btn" onclick="menuToggle()">
        <i class="fa-solid fa-bars"></i>
        <span>MENU</span>
    </button>
    <div class="search-form">
        <input type="text" class="search-input form-control" placeholder="Search...">
        <img src="https://en.chuu.co.kr/images/layout/header/ico-search.png" alt="Search">
    </div>
</div>