@using proj_tt.Web.Views.Shared.Components.RightNavbarLanguageSwitch
@using proj_tt.Web.Views.Shared.Components.RightNavbarUserArea
@using proj_tt.Web.Views.Shared.Components.CartCount
<ul class="navbar-nav ml-auto">
    <li class="nav-item text-center mx-2">
        <a href="#" class="nav-link p-0">
            <img src="https://en.chuu.co.kr/images/layout/header/ico-wishlist.png" alt="Wishlist" style="height: 24px;">
            <p class="mb-0" style="font-size: 12px;">WISHLIST</p>
        </a>
    </li>
    <li class="nav-item text-center mx-2">
        <a href="/Cart" class="nav-link p-0 position-relative">
            <img src="https://en.chuu.co.kr/images/layout/header/ico-cart.png" alt="Cart" style="height: 24px;">
            <p class="mb-0" style="font-size: 12px;">CART</p>
            @await Component.InvokeAsync(typeof(CartCountViewComponent))
        </a>
    </li>
    @await Component.InvokeAsync(typeof(RightNavbarLanguageSwitchViewComponent))
    @await Component.InvokeAsync(typeof(RightNavbarUserAreaViewComponent))
</ul>
