<header class="header">
    <div class="container-fluid px-3 px-lg-5">
        <div class="d-flex align-items-center justify-content-between py-2">
            <!-- Left Section -->
            <div class="d-flex align-items-center gap-3">
                <button class="menu-btn btn" onclick="menuToggle()">
                    <i class="fa-solid fa-bars"></i>
                    <span>MENU</span>
                </button>
                <div class="search-form">
                    <input type="text" class="search-input form-control" placeholder="Search...">
                    <img src="https://en.chuu.co.kr/images/layout/header/ico-search.png" alt="Search">
                </div>
            </div>

            <!-- Logo -->
            <a href="/CHUU/index.html" class="navbar-brand mx-auto">
                <img src="https://en.chuu.co.kr/images/layout/header/logo-renewal.png" alt="Logo">
            </a>

            <!-- Right Section -->
            <div class="d-flex align-items-center gap-2">
                <div class="language-dropdown dropdown">
                    <button class="dropdown-toggle btn text-uppercase" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        EN
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Vietnamese</a></li>
                    </ul>
                </div>
                <ul class="nav-icons d-flex list-unstyled mb-0 gap-2">
                    <li class="nav-item">
                        <a href="/CHUU/member/login.html" class="nav-link text-decoration-none text-dark text-center">
                            <img src="https://en.chuu.co.kr/images/layout/header/ico-login.png" alt="Login">
                            <p>LOGIN</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-decoration-none text-dark text-center">
                            <img src="https://en.chuu.co.kr/images/layout/header/ico-mypage.gif" alt="My Page">
                            <p>MYPAGE</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-decoration-none text-dark text-center">
                            <img src="https://en.chuu.co.kr/images/layout/header/ico-bookmark.png" alt="Bookmark">
                            <p>BOOKMARK</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-decoration-none text-dark text-center">
                            <img src="https://en.chuu.co.kr/images/layout/header/ico-wishlist.png" alt="Wishlist">
                            <p>WISHLIST</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/CHUU/cart.html" class="nav-link text-decoration-none text-dark position-relative text-center">
                            <img src="https://en.chuu.co.kr/images/layout/header/ico-cart.png" alt="Cart">
                            <p>CART</p>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark cart-count">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>