<div class="position-absolute start-50 translate-middle-x">
    <a href="/">
        <img src="https://en.chuu.co.kr/images/layout/header/logo-renewal.png" alt="Logo giữa" style="height: 40px;">
    </a>
</div>