@using proj_tt.Web.Views.Shared.Components.SideBarUserArea
@model SideBarUserAreaViewModel

<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="~/libs/admin-lte/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        @Html.Raw(Model.GetShownLoginName())
    </div>
</div>
