<form method="post" enctype="multipart/form-data" asp-action="Create">
    <label>Tên Banner:</label>
    <input type="text" name="Name" required />

    <label>Ảnh:</label>
    <input type="file" name="File" required />

    <button type="submit">Tạo</button>
</form>